{% extends 'base.html' %}

{% block title %}Home da Pagina{% endblock %}

{% block content %}

<div id="logo">
    <img src="https://i.imgur.com/6a2KmVl.png" id="imagem" style="width:400px; height: 200px;">
</div>

<div class="card" id="estudio">
    {{nosso_grafo}}
</div>

<div id="imagem">
    <h4>Representação do Grafo de forma esquemática</h4>
    <img src="https://i.imgur.com/fNLpCJ9.png">
</div>

<div id="distancia">
    <table>
        <h4>Distância dos Grafos</h4>
        <tr>
            <th>Nome</th>
            <th>Distância</th>
        </tr>
        <tr>
            <th>Artland</th>
            <th>0</th>
        </tr>
        <tr>
            <th>Mushishi</th>
            <th>1</th>
        </tr>
    </table>
</div>


{% endblock %}