{% extends 'base.html' %}

{% block title %}Home da Pagina{% endblock %}

{% block content %}

<div id="logo">
    <img src="https://i.imgur.com/ZCcwcNt.png" id="imagem">
</div>

<div class="card" id="estudio">
    {{nosso_grafo}}
</div>

<div id="imagem">
    <h4>Representação do Grafo de forma esquemática</h4>
    <img src="https://i.imgur.com/27ijA05.png">
</div>

<div id="distancia">
    <table>
        <h4>Distância dos Grafos</h4>
        <tr>
            <th>Nome</th>
            <th>Distância</th>
        </tr>
        <tr>
            <th>David Production</th>
            <th>0</th>
        </tr>
        <tr>
            <th>JoJo no Kimyou na Bouken</th>
            <th>1</th>
        </tr>
        <tr>
            <th>JoJo no Kimyou na Bouken Part 3: Stardust Crusaders</th>
            <th>1</th>
        </tr>
        <tr>
            <th>JoJo no Kimyou na Bouken Part 4: Diamond wa Kudakenai</th>
            <th>1</th>
        </tr>
        <tr>
            <th>JoJo no Kimyou na Bouken Part 5: Ougon no Kaze</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Enen no Shouboutai</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Hataraku Saibou</th>
            <th>1</th>
        </tr>
    </table>
</div>

{% endblock %}