{% extends 'base.html' %}

{% block title %}Home da Pagina{% endblock %}

{% block content %}

<div id="logo">
    <img src="https://i.imgur.com/VFEgoNo.png" id="imagem">
</div>

<div class="card" id="estudio">
    {{nosso_grafo}}
</div>

<div id="imagem">
    <h4>Representação do Grafo de forma esquemática</h4>
    <img src="https://i.imgur.com/bvBq7Ix.png">
</div>

<div id="distancia">
    <table>
        <h4>Distância dos Grafos</h4>
        <tr>
            <th>Nome</th>
            <th>Distância</th>
        </tr>
        <tr>
            <th>Studio Deen</th>
            <th>0</th>
        </tr>
        <tr>
            <th>Kono Subarashii Sekai ni Shukufuku wo!</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Sakamoto Desu ga?</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Higurashi no Naku Koro ni</th>
            <th>1</th>
        </tr>
    </table>
</div>

{% endblock %}