{% extends 'base.html' %}

{% block title %}Home da Pagina{% endblock %}

{% block content %}

<div id="logo">
    <img src="https://i.imgur.com/qfnVwhh.png" id="imagem">
</div>

<div class="card" id="estudio">
    {{nosso_grafo}}
</div>

<div id="imagem">
    <h4>Representação do Grafo de forma esquemática</h4>
    <img src="https://i.imgur.com/Jhlj8w5.png">
</div>

<div id="distancia">
    <table>
        <h4>Distância dos Grafos</h4>
        <tr>
            <th>Nome</th>
            <th>Distância</th>
        </tr>
        <tr>
            <th>Kyoto Animation</th>
            <th>0</th>
        </tr>
        <tr>
            <th>Clannad</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Violet Evergarden</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Chuunibyou demo Koi ga Shitai!</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Hyouka</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Kyoukai no Kanata</th>
            <th>1</th>
        </tr>
        <tr>
            <th>K-On!</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Kobayashi-san Chi no Maid Dragon</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Suzumiya Haruhi no Yuuutsu</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Nichijou</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Amagi Brilliant Park</th>
            <th>1</th>
        </tr>
    </table>
</div>

{% endblock %}