{% extends 'base.html' %}

{% block title %}Home da Pagina{% endblock %}

{% block content %}

<div id="logo">
    <img src="https://i.imgur.com/f5DpxPl.png" id="imagem">
</div>

<div class="card" id="estudio">
    {{nosso_grafo}}
</div>

<div id="imagem">
    <h4>Representação do Grafo de forma esquemática</h4>
    <img src="https://i.imgur.com/OeAWYxF.png">
</div>

<div id="distancia">
    <table>
        <h4>Distância dos Grafos</h4>
        <tr>
            <th>Nome</th>
            <th>Distância</th>
        </tr>
        <tr>
            <th>Mappa</th>
            <th>0</th>
        </tr>
        <tr>
            <th>Shingeki no Kyojin(4)</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Kakegurui</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Zankyou no Terror</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Dororo</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Jujutsu Kaisen</th>
            <th>1</th>
        </tr>
        <tr>
            <th>The God of High School</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Inuyashiki</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Dorohedoro</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Ushio to Tora</th>
            <th>1</th>
        </tr>
    </table>
</div>

{% endblock %}