{% extends 'base.html' %}

{% block title %}Home da Pagina{% endblock %}

{% block content %}

<div id="logo">
    <img src="https://i.imgur.com/xbRzOgG.png" id="imagem" style="width: 200px;height: 200px;">
</div>

<div class="card" id="estudio">
    {{nosso_grafo}}
</div>

<div id="imagem">
    <h4>Representação do Grafo de forma esquemática</h4>
    <img src="https://i.imgur.com/Pdr6v9l.png">
</div>

<div id="distancia">
    <table>
        <h4>Distância dos Grafos</h4>
        <tr>
            <th>Nome</th>
            <th>Distância</th>
        </tr>
        <tr>
            <th>P.A Works</th>
            <th>0</th>
        </tr>
        <tr>
            <th>Angel Beats!</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Another</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Charlotte:</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Nagi no Asu kara</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Hanasaku Iroha</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Kamisama ni Natta Hi</th>
            <th>1</th>
        </tr>
    </table>
</div>


{% endblock %}