{% extends 'base.html' %}

{% block title %}Home da Pagina{% endblock %}

{% block content %}
<h3>Projeto</h3>

<div class="card mx-auto" id="projeto"> 
  <h5>Como Usar</h5>
  <p>Para usar é simples, basta clicar no nome do estúdio e os grafos fazem o trabalho!</p>
</div>

<div class="card" id="studio">
  <form action="{% url 'projeto' %}" method="post"> {% csrf_token %}
    <table class="table">
      <thead>
        <h6>Estúdios</h6>
      </thead>
      <tbody>
        <tr>
          <td><button type="submit" name="bones" value="Bones">Bones</button></td>
          <td><button type="submit" name="wit" value="Wit Studio">Wit Studio</button></td>
          <td><button type="submit" name="mappa" value="Mappa">Mappa</button></td>
          <td><button type="submit" name="madhouse" value="Mad House">Mad House</button></td>
          <td><button type="submit" name="a1" value="A-1 Pictures">A-1 Pictures</button></td>
          <td><button type="submit" name="ufotable" value="Ufotable">Ufotable</button></td>
        </tr>
        <tr>
          <td><button type="submit" name="jcstaff" value="J.C Staff">J.C Staff</button></td>
          <td><button type="submit" name="paworks" value="P.A Works">P.A Works</button></td>
          <td><button type="submit" name="trigger" value="Trigger">Trigger</button></td>
          <td><button type="submit" name="kyoto" value="Kyoto Animation">Kyoto Animation</button></td>
          <td><button type="submit" name="pierrot" value="Studio Pierrot">Studio Pierrot</button></td>
          <td><button type="submit" name="fox" value="White Fox">White Fox</button></td>
        </tr>
        <tr>
          <td><button type="submit" name="clover" value="Clover Works">Clover Works</button></td>
          <td><button type="submit" name="toei" value="Toei Animation">Toei Animation</button></td>
          <td><button type="submit" name="artland" value="Artland">Artland</button></td>
          <td><button type="submit" name="kinema" value="Kinema Citrus">Kinema Citrus</button></td>
          <td><button type="submit" name="david" value="David Production">David Production</button></td>
          <td><button type="submit" name="voln" value="Studio VOLN">Studio VOLN</button></td>
        </tr>
        <tr>
          <td><button type="submit" name="ig" value="Production I.G">Production I.G</button></td>
          <td><button type="submit" name="gainex" value="Gainax">Gainax</button></td>
          <td><button type="submit" name="tms" value="TMS Entertainment">TMS Entertainment</button></td>
          <td><button type="submit" name="feel" value="feel">feel</button></td>
          <td><button type="submit" name="deen" value="Studio Deen">Studio Deen</button></td>
          <td><button type="submit" name="sunrise" value="Sunrise">Sunrise</button></td>
        </tr>
      </tbody>
    </table>
  </form>

  <div id="imagem">
    <h4>Representação do Grafo Geral de forma esquemática</h4>
    <img src="https://i.imgur.com/XdVq2GN.png">
  </div>
</div>

<!-- <div class="card" id="studio">
  <form action="{% url 'projeto' %}" method="post"> {% csrf_token %}
    <table class="table">
      <thead>
        <h6>Estúdios</h6>
      </thead>
      <tbody>
        <tr>
          <td>
            <h5>Bones</h5>
            <ul>
            </ul>
          </td>
          <td>
            <h5>Wit Studio</h5>
            <ul>
            </ul>
          </td>
          <td>
            <h5>Mappa</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Mad House</h5>
            <ul></ul>
          </td>
          <td>
            <h5>A-1 Pictures</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Ufotable</h5>
            <ul></ul>
          </td>
        </tr>
        <tr>
          <td>
            <h5>J.C Staff</h5>
            <ul></ul>
          </td>
          <td>
            <h5>P.A Works</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Trigger</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Kyoto Animation</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Studio Pierrot</h5>
            <ul></ul>
          </td>
          <td>
            <h5>White Fox</h5>
            <ul></ul>
          </td>
        </tr>
        <tr>
          <td>
            <h5>Clover Works</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Toei Animation</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Artland</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Kinema Citrus</h5>
            <ul></ul>
          </td>
          <td>
            <h5>David Production</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Studio VOLN</h5>
            <ul></ul>
          </td>
        </tr>
        <tr>
          <td>
            <h5>Production I.G</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Gainax</h5>
            <ul></ul>
          </td>
          <td>
            <h5>TMS Entertainment</h5>
            <ul></ul>
          </td>
          <td>
            <h5>feel</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Studio Deen</h5>
            <ul></ul>
          </td>
          <td>
            <h5>Sunrise</h5>
            <ul></ul>
          </td>
        </tr>
      </tbody>
    </table>
  </form> -->

{% endblock %}