{% extends 'base.html' %}

{% block title %}Home da Pagina{% endblock %}

{% block content %}
<h3>Projeto</h3>

<div class="card" id="studio">
    <table class="table">
        <thead>
          <h6>Estúdios</h6>
        </thead>
        <tbody>
          <tr>
            <td>Bones</td>
            <td>Wit Studio</td>
            <td>Mappa</td>
            <td>Mad House</td>
            <td>A-1 Pictures</td>
            <td>Ufotable</td>
          </tr>
          <tr>
            <td>J.C Staff</td>
            <td>P.A Works</td>
            <td>Trigger</td>
            <td>Kyoto Animation</td>
            <td>Studio Pierrot</td>
            <td>White Fox</td>
          </tr>
          <tr>
            <td>Clover Works</td>
            <td>Toei Animation</td>
            <td>Artland</td>
            <td>Kinema Citrus</td>
            <td>David Production</td>
            <td>Studio VOLN</td>
          </tr>
          <tr>
            <td>Production I.G</td>
            <td>Gainax</td>
            <td>TMS Entertainment</td>
            <td>feel</td>
            <td>Studio Deen</td>
            <td>Sunrise</td>
          </tr>
        </tbody>
      </table>
</div>

{% endblock %}