{% extends 'base.html' %}

{% block title %}Home da Pagina{% endblock %}

{% block content %}

<div id="logo">
    <img src="https://i.imgur.com/kbrYkPe.png" id="imagem" style="width:350px; height: 300px;margin-bottom: -20px">
</div>

<div class="card" id="estudio">
    {{nosso_grafo}}
</div>

<div id="imagem">
    <h4>Representação do Grafo de forma esquemática</h4>
    <img src="https://i.imgur.com/CayF5ZJ.png">
</div>

<div id="distancia">
    <table>
        <h4>Distância dos Grafos</h4>
        <tr>
            <th>Nome</th>
            <th>Distância</th>
        </tr>
        <tr>
            <th>Toei Animation</th>
            <th>0</th>
        </tr>
        <tr>
            <th>One Piece</th>
            <th>1</th>
        </tr>
        <tr>
            <th>DragonBall Z</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Digimon</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Yu☆Gi☆Oh!</th>
            <th>1</th>
        </tr>
    </table>
</div>

{% endblock %}