{% extends 'base.html' %}

{% block title %}Home da Pagina{% endblock %}

{% block content %}

<div id="logo">
    <img src="https://i.imgur.com/fCFVlmx.png" id="imagem" style="margin-bottom: -60px;">
</div>

<div class="card" id="estudio">
    {{nosso_grafo}}
</div>

<div id="imagem">
    <h4>Representação do Grafo de forma esquemática</h4>
    <img src="https://i.imgur.com/fW0ZjnR.png">
</div>

<div id="distancia">
    <table>
        <h4>Distância dos Grafos</h4>
        <tr>
            <th>Nome</th>
            <th>Distância</th>
        </tr>
        <tr>
            <th>Trigger</th>
            <th>0</th>
        </tr>
        <tr>
            <th>Kill la Kill</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Darling in the FranXX</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Kiznaiver</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Little Witch Academia</th>
            <th>1</th>
        </tr>
        <tr>
            <th>SSSS.Gridman</th>
            <th>1</th>
        </tr>
        <tr>
            <th>BNA: Brand New Animal</th>
            <th>1</th>
        </tr>
    </table>
</div>

{% endblock %}