{% extends 'base.html' %}

{% block title %}Home da Pagina{% endblock %}

{% block content %}

<div id="logo">
    <img src="https://i.imgur.com/g4mmH5z.png" id="imagem" style="width: 250px;height: 200px;">
</div>

<div class="card" id="estudio">
    {{nosso_grafo}}
</div>

<div id="imagem">
    <h4>Representação do Grafo de forma esquemática</h4>
    <img src="https://i.imgur.com/5tqU6Eu.png">
</div>

<div id="distancia">
    <table>
        <h4>Distância dos Grafos</h4>
        <tr>
            <th>Nome</th>
            <th>Distância</th>
        </tr>
        <tr>
            <th>White Fox</th>
            <th>0</th>
        </tr>
        <tr>
            <th>Steins;Gate</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Re:Zero kara Hajimeru Isekai Seikatsu</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Akame ga Kill!</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Hataraku Maou-sama!</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Goblin Slayer</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Shinchou Yuusha: Kono Yuusha ga Ore Tueee Kuse ni Shinchou Sugiru</th>
            <th>1</th>
        </tr>
        <tr>
            <th>Arifureta Shokugyou de Sekai Saikyou</th>
            <th>1</th>
        </tr>
    </table>
</div>
{% endblock %}